/* geral */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Serif", sans-serif;
}

body {
    background-color: rgb(221, 253, 252);
}

.container {
    max-width: 85vw;
}

/* header */

header {
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid rgb(77, 77, 77);
}

#container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-container h4 {
    font-size: 17px;
    margin-top: -14px;
}

.container>h1 {
    font-weight: bold;
    color: rgb(77, 77, 77);
}

ul {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.nav-link {
    color: rgb(77, 77, 77);
    font-weight: bold;
}

/* sobre */

#sobre>.container {
    margin-top: 20px;
    border-bottom: 2px solid rgb(77, 77, 77);
}

#sobre h2 {
    font-weight: bold;
    margin-top: 20px;
}

#sobre img {
    border: 2px solid rgb(77, 77, 77);
    border-radius: 5px;
    height: auto;
    width: 100%;
}

/* portfolio */

#portfolio>.container {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(77, 77, 77);
}

#portfolio h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

#curriculo {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}

#curriculo:hover {
    cursor: pointer;
    color: rgb(0, 0, 161);
}

.modal-body img {
    height: 350px;
}

/* contato */

#contato h2 {
    font-weight: bold;
}

#contato input,
#contato textarea {
    margin-bottom: 20px;
}

#contato button {
    margin: 20px 0;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: white;
    border-top: 2px solid rgb(77, 77, 77);
}

footer .container a img {
    max-width: 30px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    padding: 10px 0;
    margin: 0
}

footer .container a {
    padding: 10px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 100%;
}

@media (min-width: 768px) {

    /* header */

    header h1 {
        font-size: 3rem;
    }

    .sub-container h4 {
        font-size: 29.5px;
        margin-top: -19px;
    }

    #menuHamburguer a {
        font-size: 1.5rem;
    }

    /* sobre */

    #sobre img {
        margin-bottom: 20px;
    }

    #sobre h2 {
        margin: 0;
        font-size: 2rem;
    }

    #sobre p {
        font-size: 1.1rem;
    }

    /* portfolio */

    #portfolio h2 {
        font-size: 2rem;
    }

    .card-header {
        font-size: 1.5rem;
    }

    .card-body p,
    .card-body a {
        font-size: 1.2rem;
    }

    #curriculo {
        font-size: 1.5rem;
    }

    /* contato */

    #contato h2 {
        font-size: 2rem;
    }

    .form-label,
    #formButton {
        font-size: 1.5rem;
    }

    .form-control {
        padding: 15px;
    }

    #nome,
    #email,
    #mensagem {
        font-size: 1.2rem;
    }

    /* footer */

    footer .container a img {
        max-width: 50px;
    }

}

@media (min-width: 992px) {

    /* header */

    #menuHamburguer {
        display: flex;
        justify-content: end;
    }

    header h1 {
        font-size: 3.5rem;
    }

    .sub-container h4 {
        font-size: 35px;
        margin-top: -25px;
    }

    #menuHamburguer a {
        font-size: 2rem;
    }

    /* sobre */

    #sobre h2 {
        font-size: 2.5rem;
    }

    #sobre p {
        font-size: 1.8rem;
    }

    /* portfolio */

    #portfolio h2 {
        font-size: 2.5rem;
    }

    /* contato */

    /* footer */

}